<div class="content_post" style="background-image: url(<%= post.image %>);">
    <div class="more">
         <span><%= image_tag 'arrow_top.png' %></span> 
        <ul class="more_list">
         <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
           <% if user_signed_in? && current_user.id == post.user_id %>
         <li>
            <%= link_to '編集', edit_post_path(post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(post.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
          <%= image_tag post.image, class: 'post-image' if post.image.attached? %>
      <p><%= post.title %></p>
      <span class="name">
      <% if user_signed_in? %>
      <% if current_user.enemy_bad_by?(post.id) %>
          <td><%= link_to 'いいねを外す', destroy_enemy_bad_path(post), method: :DELETE %><%= post.enemy_bad.count %></td>
        <% else %>
          <td><%= link_to 'いいね', create_enemy_bad_path(post), method: :POST %><%= post.enemy_bad.count %></td>
        <% end %>
        <% end %>
        <a href="">
          <span>投稿者</span><%= post.user.nickname %>
        </a>
      </span>
    </div>