<div class="contents row">
  <div class="container">
       <h3>編集フォーム</h3>
    <%= form_with(model: @post, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "タイトル" %>
      <div>
      <label class="form-image">
      <span class="image-file">画像</span>
      <%= form.file_field :image, class: 'hidden' %>
    </label>
    </div>
      <%= form.text_area :contents, placeholder: "内容", rows: "10" %>
      <%= form.submit "投稿する" %>
    <% end %>
  </div>
</div>